@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");

* {
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
}

body {
  margin: 0;
  background-color: #f5f5f5;
  position: relative;
}

body::before {
  content: "";
  position: fixed;
  width: 100%;
  height: 100%;
  background-image: url("./assets/image/background_img_4000.png");
  background-size: 56%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center 120px;
  opacity: 0.55;
  z-index: -999;
}

@media screen and (max-width: 1160px) {
  body::before {
    background-size: 696px;
  }
}
