spring:
  profiles:
    default : local

server:
  port: 8080

---
spring:

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
        default_batch_fetch_size: 500
    database: mysql
    show-sql: true
    open-in-view: true


  datasource:
    driver-class-name: com.mysql.jdbc.Driver
    url: jdbc:mysql://i11c109.p.ssafy.io:3306/leadme?useSSL=false&serverTimezone=Asia/Seoul&characterEncoding=UTF-8&allowPublicKeyRetrieval=true
    username: ssafy
    password: ssafy

  data:
    mongodb:
      uri: mongodb://i11c109.p.ssafy.io:27017/local

  config:
    activate:
      on-profile: local
    import: optional:application-secret.properties

logging:
  level:
    org.hibernate.type: trace
    com.ssafy.withme: debug

jwt:
  issuer: secretkey@gmail.com
  secret_key: leadme



---
spring:
  config:
    activate:
      on-profile: test

  jpa:
    hibernate:
      ddl-auto: create
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  sql:
    init:
      mode: never